@import '../../vars';

.headerMyTasks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-gray-800;
    height: auto;
    padding: 2rem 0rem 6rem 0rem;
    position: relative;
    .logoMyTasks {
        img {
            max-width: 100%;
            width: 10rem;
            height: auto;
        }
    }
}