$color-linear-gradient: linear-gradient(92.63deg, #24D6B6 0.94%, #2757B6 87.29%);

$color-primary-light: #2BFFD9;
$color-primary: #24D6B6;
$color-primary-dark: #1FB59A;

$color-secondary-light: #3478FF;
$color-secondary: #2757B6;
$color-secondary-dark: #204692;


$color-white: #FFF;
$color-gray-100: #DCDCDC;
$color-gray-200: #8D8D8D;
$color-gray-300: #424242;
$color-gray-600: #1E1E1E;
$color-gray-800: #141414;