<div class="container-fluid containerMyTasks">
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="boxInputTask">
        <form [formGroup]="todoForm" autocomplete="off">
          <mat-form-field appearance="outline">
            <mat-label>Add Tarefa</mat-label>
            <input
              formControlName="item"
              matInput
              placeholder="Digite uma tarefa"
            />
          </mat-form-field>
          <button
            *ngIf="!isEditEnabled"
            (click)="addTask()"
            mat-mini-fab
            [disabled]="todoForm.invalid"
            isIconButton="true"
          >
            <mat-icon>add</mat-icon>
          </button>
          <button
            *ngIf="isEditEnabled"
            (click)="updateTask()"
            mat-mini-fab
            [disabled]="todoForm.invalid"
          >
            <span>Update</span>
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="containerToDo">
    <div class="row">
      <div class="col-12">
        <div cdkDropListGroup>
          <div class="row">
            <div class="col-4">
              <!-- to do -->
              <div class="boxTask">
                <div class="titleTask">
                  <h2 class="title-to-do">To Do</h2>
                  <span *ngIf="tasks.length > 0"> {{ tasks.length }}</span>
                </div>

                <div
                cdkDropList
                [cdkDropListData]="done"
                class="listTask"
                (cdkDropListDropped)="drop($event)"
                *ngIf="tasks.length == 0"
              >
                <div class="listEmpty">
                  <mat-icon>description</mat-icon>
                  <span>Nenhuma tarefa adicionada.</span>
                </div>
              </div>

                <div
                  cdkDropList
                  [cdkDropListData]="tasks"
                  class="listTask"
                  (cdkDropListDropped)="drop($event)"
                  *ngIf="tasks.length > 0"
                >
                  <div
                    class="itemBox"
                    *ngFor="let item of tasks; let i = index"
                    cdkDrag
                  >
                    {{ item.description }}
                    <div class="btnActionGroup">
                      <button mat-icon-button (click)="onEdit(item, i)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button (click)="deleteTask(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <!-- in progress -->
              <div class="boxTask">
                <div class="titleTask">
                  <h2 class="title-in-progress">In Progress</h2>
                  <span *ngIf="inprogress.length > 0">
                    {{ inprogress.length }}</span
                  >
                </div>

                
                <div
                  cdkDropList
                  [cdkDropListData]="inprogress"
                  class="listTask"
                  (cdkDropListDropped)="drop($event)"
                  *ngIf="inprogress.length == 0"
                >
                  <div class="listEmpty">
                    <mat-icon>description</mat-icon>
                    <span>Nenhuma tarefa em processo.</span>
                  </div>
                </div>

                <div
                  cdkDropList
                  [cdkDropListData]="inprogress"
                  class="listTask"
                  (cdkDropListDropped)="drop($event)"
                  *ngIf="inprogress.length > 0"
                >
                
                  <div
                    class="itemBox"
                    *ngFor="let item of inprogress; let i = index"
                    cdkDrag
                  >
                    {{ item.description }}
                    <div class="btnActionGroup">
                      <button
                        mat-icon-button
                        (click)="deleteInProgressTask(i)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <!-- done -->
              <div class="boxTask">
                <div class="titleTask">
                  <h2 class="title-done">Done</h2>
                  <span *ngIf="done.length > 0"> {{ done.length }}</span>
                </div>

                <div
                  cdkDropList
                  [cdkDropListData]="done"
                  class="listTask"
                  (cdkDropListDropped)="drop($event)"
                  *ngIf="done.length == 0"
                >
                  <div class="listEmpty">
                    <mat-icon>description</mat-icon>
                    <span>Nenhuma tarefa concluída.</span>
                  </div>
                </div>

                <div
                  cdkDropList
                  [cdkDropListData]="done"
                  class="listTask"
                  (cdkDropListDropped)="drop($event)"
                  *ngIf="done.length > 0"
                >
                  <div
                    class="itemBox"
                    *ngFor="let item of done; let i = index"
                    cdkDrag
                  >
                    {{ item.description }}
                    <div class="btnActionGroup">
                      <button
                        mat-icon-button
                        (click)="deleteDoneTask(i)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button
                        mat-icon-button
                        (click)="deleteDoneTask(i)"
                      >
                        <mat-icon>task-alt</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
